@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
	font-family: 'Inter', sans-serif;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10em;
}

header h1 {
	text-align: center;
}

.system-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.system-line {
	display: flex;
}

.system-line input {
	margin: 10px;
	width: 5em;
	height: 5em;
	text-align: center;
}

.system-line p {
	font-size: 2em;
}

.button-container {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-container button {

	width: 10rem;
	height: 3rem;
	margin: 3rem;

}

.results-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.results-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 12rem;
}

.result-box {
	margin: 10px;
	border: 1px solid black;
	border-radius: 8px;
	width: 5rem;
	height: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-weight: bold;
}

.result-box span {
	margin-bottom: 2rem;
}

.results-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}